<meta charset="utf-8" />
<title>Orange Board</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="A Collabrative White board" />
<meta name="author" content="The Prospects" />