<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <il><a class="navbar-brand" href="/">Home</a></il>
      <il><a class="navbar-brand" href="/auth/login">Login</a></il>
      <il><a class="navbar-brand" href="/auth/logout">Logout</a></il>
    </div>
  </div>
</nav>