<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="logo" src="/img/whiteboard.jpg" />
      </a>
      <p class="navbar-text" style="margin-left: 40px; font-size: 16px">
        Orange Board
      </p>
    </div>
    <form class="navbar-form navbar-left" method="post" action="/create">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Create New Board"
          name="board"
        />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <a href="/auth/slack">
        <img 
          alt=""Sign in with Slack""
          height="40" 
          width="172" 
          src="https://platform.slack-edge.com/img/sign_in_with_slack.png" 
          srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x"
        />
      </a>
      <a class="navbar-brand" href="#">
        <img class="logo2" src="/img/beaverlogo.png" />
      </a>
    </form>
  </div>
</nav>
<!-- <nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <il><a class="navbar-brand" href="/">Home</a></il>
      <il><a class="navbar-brand" href="/auth/login">Login</a></il>
      <il><a class="navbar-brand" href="/auth/logout">Logout</a></il>
    </div>
  </div>
</nav> -->
